@model SuzukiCompanion.Models.LessonDetail

@{
    ViewBag.Title = "JourneyDetails";
}

<h2>Journey Details</h2>

<div>
    <h4>Lesson Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LessonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LessonName, new { @class = "btn btn-primary" })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contents)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contents, new { @class = "btn btn-primary" })
        </dd>

    </dl>
</div>
<p>
  
    @Html.ActionLink("Back to List", "Index")
</p>
