@model IEnumerable<SuzukiCompanion.Models.LessonDetail>
@{
    ViewBag.Title = "Start";
}

<section class="journey">
    <div class="journey-image">

    </div>
</section>

            <h2>Start Your Journey</h2>
            <hr />
            @if (User.Identity.IsAuthenticated)
            {

                <div class="homepage-body table-bordered">
                    <p><u>List of Available Lessons </u> </p>
                </div>
                <table class="table homepage-body table-bordered">
                    <tr>
                        <td><u>Lesson Name</u></td>
                    </tr>
                    <tr>
                    
                        <td>Lesson 1: Intro to Suzuki</td>
                        <td>
                            @Html.ActionLink("Start Lesson", "LessonOne", new { @class = "btn btn-primary" })
                        </td>
                    </tr>
                    <tr>
                        <td>Lesson 2: Pre-Twinkles</td>
                        <td>
                            @Html.ActionLink("Start Lesson", "Detail", new { LessonId = 6 }, new { @class = "btn btn-primary" })
                        </td>
                    </tr>
                </table>




                <th>
                        @Html.DisplayNameFor(model => model.LessonName)
                    </th>

                @*<th>
                        @Html.DisplayNameFor(model => model.CreatedUtc)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedUtc)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Contents)
                    </th>*@
                @*<th>List of Lessons</th>*@
                <!--</tr>-->


                @*<td>
                            @Html.ActionLink("Start", "LessonOne", new { id = item.LessonId }, new { @class = "btn btn-primary" })
                        </td>
                    </tr>*@
                <!--}
                    </table>-->

                <p>
                    @Html.ActionLink("Journey", "Detail", new { area = "" }, new { @class = "btn btn-primary" })
                </p>
            }
