@model SuzukiCompanion.Models.LessonDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you absolutely sure you want to delete this?</h3>
<div>
    <h4>LessonDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LessonId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LessonId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LessonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LessonName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contents)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contents)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pdf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pdf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Video)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Video)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
