@model SuzukiCompanion.Models.LessonDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Lesson Details</h4>
    <hr />
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Admin"))
        {
            <dt>
                @Html.DisplayNameFor(model => model.LessonId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LessonId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CreatedUtc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedUtc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedUtc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedUtc)
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.LessonName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LessonName, new { style = "font-family: serif font-size: 3rem;" })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contents)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contents)
        </dd>
    }

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
